@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.ttf");
}

.product-sim > img, .box-inst-img-sim, .kit-img-sim, .kit-btn-sim, .box-access-img-sim {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wrp-sim > h2, .price-block-wrp-sim > p {
  font-family: "Roboto", Tahoma, Geneva, sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.icon-wrp-sim, .products-wrp-sim, .price-block-wrp-sim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box-inst-sim, .box-inst-wrp-total-sim, .guarantee-wrp-sim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrp-sim > p, .icon-wrp-sim > p, .product-sim > h3, .product-sim > p, .box-inst-sim, .guarantee-wrp-sim, .kit-btn-sim, .wrp-kit-text-sim {
  font-family: "Roboto", Tahoma, Geneva, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.header-bun-sim {
  min-height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../img/bunner-bac-header-sim.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f1f1f1;
}

.header-bun-sim > h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  font-family: "Montserrat", Tahoma, Geneva, sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  text-align: center;
  color: #00983d;
}

.header-bun-sim > h1 > span {
  font-size: 2.2em;
}

.wrp-sim {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}

.wrp-sim > p {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  font-size: 18px;
  text-align: center;
}

.line-sim {
  border-top: 1px solid #c4c4c4;
  margin-bottom: 40px;
}

.wrp-sim > h2 {
  margin-bottom: 24px;
}

.icon-wrp-sim {
  margin-bottom: 16px;
}

.icon-wrp-sim > p {
  font-size: 12px;
  color: #8a8a8a;
}

.products-wrp-sim {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 26px;
  padding-top: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-sim + .product-sim {
  margin-left: 16px;
}

.product-sim {
  max-width: 300px;
  -webkit-box-shadow: 0px 3px 11px #f3f3f3;
          box-shadow: 0px 3px 11px #f3f3f3;
  padding: 0 16px;
  margin-bottom: 16px;
  border-radius: 8px;
}

.product-sim > h3 {
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 16px;
}

.product-sim > p {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 600;
}

.price-block-wrp-sim {
  padding-bottom: 16px;
}

.price-block-wrp-sim > p {
  font-size: 28px;
  font-weight: 600;
  text-transform: inherit;
}

.price-block-wrp-sim > p > span {
  font-size: 1em;
}

.price-but-sim {
  padding: 10px 22px;
  background-color: #159822;
  border-color: #159822;
  border-radius: 6px;
  border-style: none;
  font-family: "Roboto", Tahoma, Geneva, sans-serif;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

.price-but-sim:hover {
  background-color: #106e19;
}

.box-inst-sim {
  width: 212px;
  height: 66px;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  padding: 0 16px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.box-inst-img-sim {
  position: relative;
  top: 7px;
  left: 0;
}

.box-inst-wrp-sim {
  max-width: 212px;
  position: relative;
}

.box-inst-wrp-sim + .box-inst-wrp-sim {
  margin-left: 95px;
}

.box-inst-wrp-total-sim {
  margin-bottom: 40px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.box-inst-pos-sim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box-inst-icon-sim {
  position: relative;
  top: -27px;
  padding-left: 19px;
  margin-right: 19px;
}

.guarantee-wrp-sim {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
  background-image: url("../img/guarantee-back-sim.jpg");
  background-color: #c4c4c4;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 478px;
  color: #ffffff;
}

.guarantee-posit-sim {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.guarantee-posit-sim > ul {
  padding: 17px;
}

.guarantee-posit-sim > h2 {
  margin-bottom: 40px;
}

.guarantee-posit-sim > p {
  max-width: 519px;
}

.kit-img-sim {
  margin-bottom: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.kit-btn-sim {
  position: relative;
  margin-bottom: 50px;
  padding: 22px 76px 22px 44px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 36px;
  color: #159822;
  background-color: #ffffff;
  border: 1px solid #159822;
  border-radius: 6px;
  cursor: pointer;
}

.link-btn-sim {
  display: contents;
  color: #159822;
  text-decoration: none;
}

.icon-btn-sim {
  position: absolute;
  top: 29px;
  right: 35px;
  -webkit-transition: all 0.3s ease 0.15s;
  transition: all 0.3s ease 0.15s;
}

.kit-btn-sim:hover .icon-btn-sim {
  right: 25px;
  -webkit-transition: all 0.3s ease 0.15s;
  transition: all 0.3s ease 0.15s;
}

.thumb-wrap {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.thumb-wrap iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wrp-video-sim {
  max-width: 1109px;
  margin-left: auto;
  margin-right: auto;
}

.wrp-kit-box-sim {
  width: 262px;
  min-height: 104px;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrp-kit-text-sim {
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrp-kit-img-sim {
  position: relative;
  top: 10px;
  left: 61px;
}

.wrp-kit-sim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 40px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.box-access-img-sim {
  position: relative;
  top: -13px;
  left: 3px;
  padding-top: 20px;
}

.box-access-icon-sim {
  position: relative;
  top: -27px;
}

.box-inst-icon-mob-sim {
  display: none;
}

.tel-sim {
  color: #159822;
}

@media (max-width: 1466px) {
  .guarantee-posit-sim {
    padding: 0 16px;
  }
}

@media (max-width: 1326px) {
  .wrp-kit-sim {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 1178px) {
  .kit-img-sim {
    width: 100%;
    padding: 0 16px;
  }
  .box-inst-wrp-total-sim {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .box-inst-wrp-sim {
    margin-bottom: 10px;
  }
  .box-inst-icon-sim {
    display: none;
  }
  .box-inst-pos-sim {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .box-inst-icon-mob-sim {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 89px;
  }
  .wrp-video-sim {
    padding: 0 16px;
  }
}

@media (max-width: 936px) {
  .products-wrp-sim {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .product-sim + .product-sim {
    margin-left: 0;
  }
  .wrp-sim > p {
    padding: 0 16px;
  }
  .wrp-sim > h2 {
    padding: 0 16px;
  }
  .header-bun-sim {
    background: url("../img/bunner-bac-head-bom-sim.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f1f1f1;
  }
}

@media (max-width: 596px) {
  .kit-img-sim {
    width: 100%;
  }
  .header-bun-sim > h1 {
    font-size: 30px;
  }
  .kit-btn-sim {
    font-size: 22px;
  }
  .icon-btn-sim {
    top: 20px;
  }
}
/*# sourceMappingURL=main.css.map */